In [317]:
import numpy as np
import pandas as pd
import random

### Series

##### A Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a SQL table. It has only one axis and can be created from a list, tuple, or dictionary.

In [318]:
# Creating Series
alpha_List = [chr(x) for x in range(ord("a"), ord("f") + 1)]
num_List = [x - 95 for x in range(ord("a"), ord("f") + 1)]

pd_series1 = pd.Series(data=alpha_List, index=num_List)
print(pd_series1)

pd_series2 = pd.Series(alpha_List)
print(pd_series2)


dict_1 = {"f_name": "Safin", "l_name": "Arafat", "Age": 18}
pd_series3 = pd.Series(dict_1)
print(pd_series3)

pd_series1 + pd_series2

2    a
3    b
4    c
5    d
6    e
7    f
dtype: object
0    a
1    b
2    c
3    d
4    e
5    f
dtype: object
f_name     Safin
l_name    Arafat
Age           18
dtype: object

0    NaN
1    NaN
2     ac
3     bd
4     ce
5     df
6    NaN
7    NaN
dtype: object

### Dataframes

##### A DataFrame, on the other hand, is a two-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet or SQL table. It has two axes (rows and columns) and can be created from a dictionary, list of lists, or a list of Series.

In [319]:
random_arr = np.random.randint(0, 9, size=(4, 3))
df_1 = pd.DataFrame(random_arr, ["a", "b", "c", "d"], ["C", "D", "E"])
print(df_1)
dict_2 = {
    "First": pd.Series(
        [
            1,
            2,
            3,
        ],
        index=["a", "b", "c"],
    ),
    "Second": pd.Series([1, 2, 3, 4], index=[x for x in "abcd"]),
}

print(pd.DataFrame.from_dict(dict_2))
print(
    pd.DataFrame.from_dict(dict_2, orient="index", columns=["First", "Second", "Third"])
)

# Dataframe is 2D Series
type(df_1["C"])  # Series

   C  D  E
a  2  0  8
b  6  3  6
c  1  7  7
d  4  3  3
   First  Second
a    1.0       1
b    2.0       2
c    3.0       3
d    NaN       4
Empty DataFrame
Columns: [First, Second, Third]
Index: []

pandas.core.series.Series

### Editing and Retrinving Data

In [320]:
print(df_1[:])
print(df_1[["E", "C"]])  # Only cols
print(df_1.iloc[2, 2])  # rows and cols with index
print(df_1.loc["c", "E"])  # rows and cols with keys
print(df_1.loc[["d", "a"], ["C", "D"]])  # rows and cols with keys
print(df_1.iloc[1:3, ::-1])  # Array slicing
df_1["Sum"] = df_1["C"] + df_1["E"] + df_1["D"]
print(pd.DataFrame(df_1).drop(columns="Sum", inplace=True))  # dropping cols
print(pd.DataFrame(df_1).drop(index=["b", "d"], inplace=True))  # dropping rows
ss_1 = pd.Series(data=dict_1, name="Values")

pd.concat([df_1, ss_1.to_frame()])  # Concatnated after converting to dataframe
pd.concat(
    [df_1, ss_1.to_frame().T]
)  # Concatnated after converting to dataframe and transposing
print(
    "\n", df_1.copy().set_index("Sum", verify_integrity=True).iloc[[0]]
)  # setting first column for

df_2 = pd.DataFrame({"A": [1, np.nan, 3, np.nan]})
df_3 = pd.DataFrame({"A": [x for x in range(9, 5, -1)]})
df_2.combine_first(df_3)  # combines and removes nan s

   C  D  E
a  2  0  8
b  6  3  6
c  1  7  7
d  4  3  3
   E  C
a  8  2
b  6  6
c  7  1
d  3  4
7
7
   C  D
d  4  3
a  2  0
   E  D  C
b  6  3  6
c  7  7  1
None
None

ValueError: Index has duplicate keys: Int64Index([15, 10], dtype='int64', name='Sum')

### Conditional Selection

In [ ]:
np_1 = np.random.randint(0, 9, size=(2, 3))
df_1 = pd.DataFrame(
    np_1,
    [x for x in "AB"],
    [x for x in "CDE"],
)
print(df_1.gt(4))
bool4 = df_1 > 4  # creates dt with dtype: bool
df_1[bool4]  # replace false statement with NaN
df_1["E"] > 4
# careful not to use pd[["col"]], it returns Dataframe
# but we need series to use conditional filtering
print(df_1[(df_1 % 2 == 0) & (df_1 > 0)][["C", "D"]])

       C      D     E
A  False   True  True
B   True  False  True
    C    D
A NaN  NaN
B NaN  2.0

### File IO

<p>File support 
<li>csv</li>
<li>plain text</li>
<li>json</li>
<li>xml</li>
<li>sql</li>
<li>html</li>
<li>xlsx</li>
<li>docx</li>
<li>zip</li>
<li>images hierachical data</li>
<li>mp3</li>
<li>mp4</li>
</p>

In [ ]:
df_csv1 = pd.read_csv("./pd_data/ComputerSales.csv")
df_excel1 = pd.read_excel("./pd_data/Financial Sample.xlsx")

df_csv2 = pd.read_csv("./pd_data/ComputerSales.csv")
print(df_csv2.columns)
df_csv2.dropna()
mask = df_csv2["Sex"] == "M"
type(mask)

Index(['Sale ID', 'Contact', 'Sex', 'Age', 'State', 'Product ID',
       'Product Type', 'Sale Price', 'Profit', 'Lead', 'Month', 'Year'],
      dtype='object')

pandas.core.series.Series

### Basics and Maths

In [ ]:
df_csv = pd.read_csv("./pd_data/ComputerSales.csv")
df_csv.head()  # gets first 5 rows
df_csv.tail()  # gets last 5 rows
df_csv[:5:2]  # get 5 rows with 2 steps like 0,2,4
df_csv.index.array  # get all the index of the rows
df_csv.to_numpy()  # cobverts to numpy array

df_1 = pd.DataFrame(
    {
        "col1": pd.Series([1, 2, 3, 5], index=[x for x in "abce"]),
        "col2": pd.Series([4, 5, 6, 7], index=[x for x in "abcd"]),
    }
)
df_1 = df_1.fillna(0)  # filling empty cell with 0
row = df_1.iloc[2]

df_1.add(row, axis=1)  # add 'row' values to all rows of the data frame and
# axis = 1 for adding it as row
df_1.sub(row, axis=1)

df_1.transform(
    lambda x: x**2,  # trasnforms all rows
)
heads = df_1.columns.tolist()  # get all cols name
# trasform can extract and modify from dataframe and create a new one
df_1["col3"] = 0
df_1 = df_1.transform(
    {heads[0]: lambda x: x**2, heads[1]: lambda x: x, "col3": lambda x: 1}
)
# apply specific lambda function for each cols

df_1["col3"] = df_1["col3"].map(lambda x: x + 2)  # map works with series
df_1["col1"].unique()  # get unique value of a column

array([ 1.,  4.,  9.,  0., 25.])

### Group Data

In [ ]:
df_3 = pd.DataFrame(
    {
        "Store": [1, 2, 3, 1],
        "Flavour": ["Choc", "Van", "Staw", "Chocolate"],
        "Sales": [26, 12, 18, 23],
        "Price": [4, 5, 2, 3],
    }
)

# eliminates duplicate targeted rows by minimum cols values
df_3.groupby("Store").min()

# mean, count, standard deviation, min, max,
df_3.describe()

# Sum everything even strings
df_3.sum()  # .loc['Store'] # only accessing Store value

Store                         7
Flavour    ChocVanStawChocolate
Sales                        79
Price                        14
dtype: object

### Convatenate Merge & Join Data

In [ ]:
df_1 = pd.DataFrame({"id": [x for x in range(1, 6)], "Name": [x for x in "ABCDE"]})

df_2 = pd.DataFrame(
    {
        "Name": [x for x in "CDEFG"],
        "CGPA": [round(random.random() * 4, 2) for x in range(5)],
    }
)
# "how=" key indicates to join there is left, right, cross, outer, inner
pd.merge(df_1, df_2, how="inner", on="Name")

   id Name  CGPA
0   3    C  3.78
1   4    D  2.34
2   5    E  3.65

### Statistics

There are many functions for statistics, like mean(), std() standard Deviation, var() Variant, sem(),
skew(), kurt() etc

In [ ]:
ics_df = pd.read_csv("./pd_data/icecreamsales.csv")

ics_df.count()

ics_df.sum(
    skipna=True,
)

ics_df["Sales"].describe()  # shows max, mean, and other statistical values

dice_rolls = pd.DataFrame([random.randint(1, 6) for x in range(20)])
dice_rolls.value_counts()  # counts number of unique values
ics_df.agg(
    [
        "mean",
        "std",
    ]
)  # run custom function

      Temperature       Sales
mean    61.166667  400.000000
std     17.055169  105.651227

### Iteration & Sorting

In [ ]:
ser_1 = pd.Series(
    data=[random.randint(1, 9) for _ in range(5)], index=[x for x in "abcde"]
)
df = pd.DataFrame(np.random.randint(1, 9, (3, 3)), ["a", "b", "c"], ["c", "d", "e"])

print(df)
for col in ser_1:
    # print(col)
    ...

for label, series in df.items():  # Iterating thru Cols
    # print(ser)
    ...
for l, s in df.iterrows():  # iterating thru rows
    print(s)

for tup in df.itertuples():
    print(tup)
#
df.sort_values(by="d", kind="quicksort", ascending=True)
df.sort_index(
    key=lambda x: x + "_",
)

   c  d  e
a  7  4  5
b  5  8  2
c  8  6  4
c    7
d    4
e    5
Name: a, dtype: int32
c    5
d    8
e    2
Name: b, dtype: int32
c    8
d    6
e    4
Name: c, dtype: int32
Pandas(Index='a', c=7, d=4, e=5)
Pandas(Index='b', c=5, d=8, e=2)
Pandas(Index='c', c=8, d=6, e=4)

   c  d  e
a  7  4  5
b  5  8  2
c  8  6  4

### Function and pipe

In [ ]:
import sys

df_com = pd.read_csv(
    "./pd_data/ComputerSales.csv",
)


def get_profit_total(df: pd.DataFrame):
    profit_ser = df["Profit"]
    print(f"Total Profit: ${profit_ser.sum()}")


get_profit_total(df_com)


def split_name(df: pd.DataFrame):
    def get_name(fullName: str):
        f_name, l_name = fullName.split()
        return pd.Series((f_name, l_name), index=["First Name", "Last Name"])

    names = df_com["Contact"].apply(get_name)
    df[names.columns] = names

    return df


split_name(df_com[df_com.columns].head())


def create_age_group(df: pd.DataFrame):
    # if df[age] >0 and <30 then set <30 and rest are same
    bins = [0, 30, 50, sys.maxsize]
    labels = ["<30", "30~50", ">50"]
    age_group = pd.cut(
        df["Age"],
        bins=bins,
        labels=labels,
    )
    return df.assign(approx_age=pd.DataFrame(age_group))[["Contact", "approx_age"]]


create_age_group(df_com.head())

Total Profit: $5459.010000000001

       Contact approx_age
0  Paul Thomas      30~50
1  Margo Simms      30~50
2    Sam Stine        <30
3   Moe Eggert      30~50
4  Jessica Elk        >50

### Handling Missing Data

In [ ]:
from numpy import nan

dict_1 = {"A": [1, 2, nan], "B": [4, nan, nan], "C": [7, 8, 9]}
df = pd.DataFrame(dict_1)
print(df)
df.dropna()  # Drop nan containing rows
df.dropna(axis=1)  # Drop nan containing cols
df.dropna(thresh=2)  # drop if contains 2 nan in rows
df.fillna(value=df["A"].mean())  # Fills nan with mean of col A
df.fillna(method="ffill", axis=0)  # Fills nan with the value of next row

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9

     A    B  C
0  1.0  4.0  7
1  2.0  4.0  8
2  2.0  4.0  9

### Polars (Faster and Rust based Solution)

Pandas and Polars are both data manipulation libraries for Python, but they have different design philosophies and implementation details.

Pandas is a widely used library for data analysis and manipulation. It provides data structures for handling tabular and heterogeneous data, as well as a variety of functions for filtering, transforming, aggregating, and visualizing data. Pandas is built on top of NumPy and is designed to provide an easy-to-use interface for working with data, while still being highly performant for many common tasks.

Polars is a newer library that is designed to provide a fast and memory-efficient alternative to Pandas, particularly for handling large datasets. Like Pandas, Polars provides data structures for handling tabular data, as well as a variety of functions for filtering, transforming, aggregating, and visualizing data. However, Polars is built on top of Rust and is designed to be highly performant, with a focus on parallelism and memory efficiency.

Both libraries have similar syntax and provide similar functionality, but there are some key differences to keep in mind.

- Polars is generally faster than Pandas, especially for large datasets.
- Polars supports multi-threaded and SIMD (Single Instruction Multiple Data) operations, which can significantly speed up computation on modern CPUs.
- Polars supports lazy evaluation, which means that computations are only performed when the results are actually needed. This can be useful for handling large datasets that do not fit in memory.
- Pandas has a larger user community and a larger ecosystem of third-party libraries and tools.

Ultimately, the choice between Pandas and Polars depends on the specific use case and the size and complexity of the data being analyzed. For small to medium-sized datasets or simpler data manipulation tasks, Pandas is likely to be sufficient and more widely adopted. For larger datasets or more complex data manipulation tasks, Polars may provide better performance and memory efficiency.

In [362]:
# pylint: disable=undefined-variable
import polars as pl
import time

print("Benchmark File IO")
time.sleep(1.5)
Stimer_1 = time.perf_counter()
pd.read_csv("./pd_data/ComputerSales.csv")
Etimer_1 = time.perf_counter()
print(f"Pandas took {(Etimer_1 - Stimer_1)*1000:12f}ms")
time.sleep(1.5)
Stimer_2 = time.perf_counter()
pl.read_csv("./pd_data/ComputerSales.csv")
Etimer_2 = time.perf_counter()
print(f"Polars took {(Etimer_2 - Stimer_2)*1000:12f}ms")

Benchmark File IO
Pandas took     3.420000ms
Polars took     2.270000ms